<environment>
  <xmrgData>
    <baseURL>http://www.srh.noaa.gov/rfcshare/p_download_hourly/</baseURL>
    <remoteDir>%Y/%Y%m/%Y%m%d/</remoteDir>
    <fileNameFilter>nws_precip</fileNameFilter>
    <downloadDir>c:\temp\nws_precip\shapefiles\</downloadDir>
  </xmrgData>
  <logging>    
    <logMsgs>1</logMsgs>
    <logDir>C:\Documents and Settings\dramage\workspace\SVNSandbox\wqportlet\trunk\data\dhec.log</logDir>
    <fetchLogging>
      <use>1</use>
      <checkModDate>0</checkModDate>
      <logDir>c:\temp\nws_precip\fetchlog\</logDir>
    </fetchLogging>    
  </logging>

  <database>
    <db>
      <type>sqlite</type>
      <name>C:\Documents and Settings\dramage\workspace\SVNSandbox\wqportlet\trunk\data\dhec.db</name>
    </db>
  </database>
  
  <rainGaugeProcessing>
    
    <rainGaugeFileDir>C:\Documents and Settings\dramage\workspace\SVNSandbox\wqportlet\trunk\data\raingauge\archives\dhec\2004\tst\</rainGaugeFileDir>
    <ftp>
      <user>dan</user>
      <passwd>dan123</passwd>
      <ip>129.252.139.112</ip>
      <fileDir>DHEC</fileDir>
      <delServerFile>1</delServerFile>
    </ftp>
    <outputs>
      <kml>
        <filePath>C:\Documents and Settings\dramage\workspace\BeachAdvisory\rainGaugeLatest.kml</filePath>
      </kml>
    </outputs>
    
    <rainGaugeList>      
      <rainGauge>
        <name>nmb1</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>101</fileID>
        <file24hrSumId>102</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>nmb2</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>111</fileID>
        <file24hrSumId>112</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>nmb3</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>121</fileID>
        <file24hrSumId>122</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>mb1</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>131</fileID>
        <file24hrSumId>132</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>mb2</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID></fileID>
        <file24hrSumId></file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>mb3</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>151</fileID>
        <file24hrSumId>152</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>mb4</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>161</fileID>
        <file24hrSumId>162</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>surfside</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>171</fileID>
        <file24hrSumId>172</file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>gardencity</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID></fileID>
        <file24hrSumId></file24hrSumId>
      </rainGauge>
      <rainGauge>
        <name>murrellsinlet</name>
        <type></type>
        <phoneNumber></phoneNumber>
        <fileID>191</fileID>
        <file24hrSumId>192</file24hrSumId>
      </rainGauge>      
    </rainGaugeList>
    
  </rainGaugeProcessing>
</environment>
